body {
  margin: 0;
  font-family: 'Red Hat Text', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, .75);
  background-color: #26C281;
  min-height: 100vh;
  text-align: center;
}

input[type="text"] {
  font-family: 'Red Hat Text',
    Arial,
    sans-serif;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input,
button {
  outline: none;
}