.header {
    background-color: #f39c12;
    font-size: 1.6em;
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
        border: 5px solid rgba(0, 0, 0, .75);
        border-radius: 100%;
        width: 200px;
        margin-bottom: 15px;

        svg {
            fill: rgba(0, 0, 0, .75);
            max-width: 80%;
            width: 200px;

            @media screen and (max-width:425px) {
                width: 100px;
            }
        }

        @media screen and (max-width:425px) {
            width: 100px;
            border: 3px solid rgba(0, 0, 0, .75);
        }
    }

    &__txt {
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.2;
    }

    &__apex {
        vertical-align: super;
    }
}