.header {
    background-color: #f39c12;
    font-size: 1.6em;
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
        border: 5px solid rgba(0, 0, 0, .65);
        border-radius: 100%;
        width: 200px;
        margin-bottom: 15px;

        svg {
            fill: rgba(0, 0, 0, .65);
            max-width: 80%;
            width: 200px;
        }
    }

    &__txt {
        font-weight: 600;
    }

    &__apex {
        vertical-align: super;
    }
}