.home {

    &__content {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__form {
        width: 90vw;
        max-width: 860px;
        text-align: left;
        font-weight: 500;
    }

    &__label {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: -webkit-transform 0.4s;
        transition: transform 0.4s;

        &--hide {
            transition: transform 0.4s;
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
        }
    }

    &__input-wrapper {
        font-size: 2.5rem;
        position: relative;
        color: rgba(0, 0, 0, .45);
        overflow: hidden;
        // visibility: hidden;
        // height: 0;
        display: none;

        &:before {
            content: '';
            background-color: rgba(0, 0, 0, 0.1);
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2.35em;
        }

        &--current {
            // visibility: visible;
            // height:auto;
            display: block;
        }
    }

    &__input-name,
    &__input-lastname {
        display: block;
        margin: 0.3em 0 0 0;
        padding: 0.5em 1em 0.5em 0.7em;
        width: calc(100% - 2.5em);
        border: none;
        background: transparent;
        color: rgba(0, 0, 0, 0.8);
        font-size: 1em;
        line-height: 1;
        // opacity: 0;
        // -webkit-transition: opacity 0.3s;
        // transition: opacity 0.3s;
        position: relative;

        // &--current {
        //     opacity: 1;
        // }
    }

    &__arrow {
        position: absolute;
        right: 10px;
        bottom: 10px;
        height: 1.9em;
        fill: rgba(0, 0, 0, 0.4);

        svg {
            width: 50px;
            height: 50px;
            margin-top: .55em;
        }

        &:hover {
            fill: rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }
    }

    &__controls {
        position: relative;
    }

    &__error {
        position: absolute;
        left: 0;
        top: 10px;
        color: rgba(0, 0, 0, 0.7);
        padding-right: 45px;
    }

    &__fraction {
        position: absolute;
        right: 0;
        top: 10px;
        font-weight: 600;
    }

    &__divide {
        color: rgba(0, 0, 0, 0.3);
    }

    &__progress {
        width: 0%;
        height: 6px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        background-color: rgba(0, 0, 0, 0.3);

        &--half {
            width: 50%;
        }

        &--full {
            width: 100%;
        }

        &:before {
            position: absolute;
            top: auto;
            width: 100%;
            height: inherit;
            background: rgba(0, 0, 0, 0.05);
            content: '';
        }
    }


}